@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
html {
  box-sizing: border-box;
}
html *,
html *::before,
html *::after {
  box-sizing: inherit;
}
html * {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 2.8rem;
  font-weight: 300;
  color: hsl(0deg, 0%, 59%);
}
h1 strong {
  color: hsl(209deg, 33%, 12%);
}

p {
  font-size: 1.25em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.email-subscribe input {
  border: none;
  outline: none;
  border-radius: 50vmax;
  font: inherit;
}
.email-subscribe input[type=email] {
  border-style: solid;
  border-width: 1px;
  border-color: hsl(223deg, 40%, 85%);
}
.email-subscribe input[type=email]::-moz-placeholder {
  color: hsl(223deg, 40%, 85%);
}
.email-subscribe input[type=email]:-ms-input-placeholder {
  color: hsl(223deg, 40%, 85%);
}
.email-subscribe input[type=email]::placeholder {
  color: hsl(223deg, 40%, 85%);
}
.email-subscribe input[type=submit] {
  background-color: hsl(223deg, 87%, 63%);
  color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 16px 20px -1px hsla(223deg, 87%, 63%, 0.3);
  transition: background-color 0.2s;
}
.email-subscribe input[type=submit]:hover {
  background-color: hsl(223deg, 87%, 68%);
}
.email-subscribe .input-container-email::after {
  display: none;
}
.email-subscribe .input-container-email.error input {
  border-color: hsl(354deg, 100%, 66%);
}
.email-subscribe .input-container-email.error::after {
  content: attr(data-error);
  display: block;
  font-size: 0.8em;
  font-style: italic;
  color: hsl(354deg, 100%, 66%);
  position: relative;
  top: 0.5em;
}

.logo {
  display: block;
  height: 1.75em;
}
.logo img {
  height: 100%;
}

.social-icon-container {
  text-decoration: none;
  height: 2em;
  width: 2em;
  border: solid 1px hsl(223deg, 40%, 85%);
  border-radius: 50%;
  color: hsl(223deg, 87%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  transition: all 0.3s;
}
.social-icon-container:hover {
  color: white;
  background-color: hsl(223deg, 87%, 63%);
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.article-content__image img {
  width: 100%;
}
.article-content__social {
  height: 100%;
  width: 100%;
  margin-top: 8rem;
  padding: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 1.3em;
       column-gap: 1.3em;
}
.article-content form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 13em;
  font-size: 1.2em;
}
.article-content form .input-container-email::after {
  padding-bottom: 2em;
}
.article-content form input {
  width: 100%;
  padding: 1.1em 2.5em;
}
@media (min-width: 1440px) {
  .article-content {
    row-gap: 2rem;
  }
  .article-content__social {
    margin-top: 1em;
    -moz-column-gap: 0.8em;
         column-gap: 0.8em;
  }
  .article-content form {
    display: grid;
    grid-template-columns: 1fr 30%;
    align-items: flex-start;
    min-height: 6.5em;
    font-size: 0.85em;
  }
  .article-content form .input-container-email::after {
    text-align: left;
    padding-left: 1.75rem;
  }
  .article-content form input {
    padding: 1em 1.75em;
  }
  .article-content .text-section {
    gap: 1rem;
  }
  .article-content .text-section p {
    font-size: unset;
  }
  .article-content .social-icon-container {
    font-size: 0.65em;
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 3.3rem;
}

.ping-single-column {
  height: 100%;
  padding: 4rem 0;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 1.8rem;
}
.ping-single-column__header {
  margin-top: 3.3rem;
  padding: 3rem 0;
}
.ping-single-column__footer p {
  font-size: 1em;
  color: hsl(0deg, 0%, 59%);
}
@media (min-width: 1440px) {
  .ping-single-column {
    max-width: 39rem;
    padding-top: 0;
    gap: 0;
  }
  .ping-single-column__header {
    margin: 0;
  }
  .ping-single-column__footer p {
    font-size: 0.65em;
    color: hsl(0deg, 0%, 59%);
  }
  .ping-single-column .logo {
    height: unset;
  }
}