@use "../configs/colors";

@mixin mobile {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 13em;
    font-size: 1.2em;

    .input-container-email {
        &::after {
            padding-bottom: 2em;
        }
    }

    input {
        width: 100%;
        padding: 1.1em 2.5em;
    }
}

@mixin desktop {
    display: grid;
    grid-template-columns: 1fr 30%;
    align-items: flex-start;
    min-height: 6.5em;
    font-size: 0.85em;

    .input-container-email {
        &::after {
            text-align: left;
            padding-left: 1.75rem;
        }
    }

    input {
        padding: 1em 1.75em;
    }


}