@use "../configs/colors";
@use "../configs/fonts";

.email-subscribe {
    input {
        border: none;
        outline: none;
        border-radius: 50vmax;
        font: inherit;

        &[type=email] {
            border-style: solid;
            border-width: 1px;
            border-color: colors.$light-grey;

            &::placeholder {
                color: colors.$light-grey;
            }
        }

        &[type=submit] {
            background-color: colors.$primary-blue;
            color: white;
            font-weight: fonts.$weight-semiBold;
            cursor: pointer;
            -webkit-box-shadow: 0px 16px 20px -1px colors.$primary-blue-shadow;
            -moz-box-shadow: 0px 16px 20px -1px colors.$primary-blue-shadow;
            box-shadow: 0px 16px 20px -1px colors.$primary-blue-shadow;
            transition: background-color 0.2s;

            &:hover {
                background-color: colors.$primary-blue-hover;
            }
        }
    }

    .input-container-email {
        &::after {
            display: none;
        }

        &.error {
            input {
                border-color: colors.$secondary-light-red;
            }
        }

        &.error::after {
            content: attr(data-error);
            display: block;
            font-size: 0.8em;
            font-style: italic;
            color: colors.$secondary-light-red;
            position: relative;
            top: 0.5em;
        }
    }
}