@use "../configs/colors";

.social-icon-container {
    text-decoration: none;
    height: 2em;
    width: 2em;
    border: solid 1px colors.$secondary-pale-blue;
    border-radius: 50%;
    color: colors.$primary-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    transition: all 0.3s;

    &:hover {
        color: white;
        background-color: colors.$primary-blue;
    }
}